<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="f"
           layout="${aspnet-request-ip}|${longdate}|${uppercase:${level}}|${callsite:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True} => ${message}${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}"
           fileName="${basedir}\logs\current.log"
           archiveFileName="${basedir}\logs\archives\log.{#}.txt"
           archiveNumbering="Date"
           archiveEvery="Day"
           archiveDateFormat="yyyyMMdd"
           maxArchiveFiles="15" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>